:root {
    /* layout fill start*/
    --secondary-bg-cl: rgba(0, 16, 61, 0.06);
    /* layout fill start*/
  
    /* text start*/
    --text-color: black;  
    --secondary-text-color: #676767;
    --secondary-logo-color: #676767;
    --main-text-cl: #17263D;
    --main-text-cl-rgb: #{HexToRGB(#17263D)};
    --filed-title-cl:#676767;
    --regular-text-cl: #333333;
    --font-smoothing: auto;
    --success-text-cl: #3ba81a;
    /* text end*/
  
    /* active fill start*/
    --active-bg-cl: #E8F0FF;
    --active-text-cl: #005FF9;
    --active-error-cl: #fcd7e1;
    --success-bg-cl: #3ba81a;
    /* active fill end*/
    
    /* button start*/
    --btn-bg: #FFFFFF;
    --secondary-btn-bg: #f0f2f5;
    --ternary-btn-bg: #c4c4c426;
    --tag-bg: #E8F0FF;
    /* button end*/
  
  
    /* table start*/
    --table-bg: #fff; 
    --table-header-bg: #fff; 
    --table-header-shadow: #e1e5ee; 
    --table-header-text: #676767; 
    --table-border: #E0E2E8;
    --table-body-text: #000000; 
    --table-hover: rgba(0, 16, 61, 0.06);
    /* table end*/
  
    /* other */
    --switch-bg-cl: #8e8e8e;
    --switch-i-cl: #fff;
    --border-cl: rgba(0, 16, 61, 0.12);
    --newSeparatorColor: #E0E2E8;
    --loader-bg: #fff;
    --tooltip-shadow: rgba(0, 0, 0, 0.15);
    --message-bg-cl: #d5dfe9;
    --message-test: #fff;
    --smart-sequences-tx-cl: #005FF9;
    --sequences-builder-preview: url('./assets/images/newSequencesBuilderPreview.svg');
    --old-sequences-builder-preview: url('./assets/images/oldSequencesBuilderPreview.svg');
    --google-btn: #fff;
    --google-text: #757575;
    /* other */
  }
  
  /* -------Dark theme--------- */
  
  [data-theme="dark"] {
    /* layout fill start*/
    --secondary-bg-cl: #D1D2D3;
    /* layout fill end*/
  
    /* text start*/
    --text-color: #fff;   
    --secondary-text-color: #fff;
    --secondary-logo-color: !important;
    --main-text-cl: #fff;
    --main-text-cl-rgb: #{HexToRGB(#fff)};
    --filed-title-cl: #6e84a3!important;
    --regular-text-cl: #fff;
    --font-smoothing: antialiased;
    --success-text-cl: #3ba81a;
    /* text end*/
  
    /* active fill start*/ 
    --active-bg-cl: #1567ff26;
    --active-text-cl: #005FF9;
    --active-error-cl: #752b3f;
    --success-bg-cl: #3ba81a;
    /* active fill end*/
  
    /* button start*/
      --btn-bg: #152e4d;
      --secondary-btn-bg: #12263f;
      --ternary-btn-bg: #FFFFFF;
      --tag-bg: #12263f;
    /* button end*/
  
    /* table start*/
    --table-bg: #152e4d; 
    --table-header-bg: #12263f; 
    --table-header-shadow: #12263f; 
    --table-header-text: #6e84a3; 
    --table-border: #1e3a5c;
    --table-body-text: #fff;
    --table-hover: #0000000f;
    /* table end*/
  
    /* other */
    --switch-bg-cl: #244166;
    --switch-i-cl: #152e4d;
    --border-cl: #244166;
    --newSeparatorColor: #12263f;
    --loader-bg: rgba(0, 0, 0, 0.2);
    --tooltip-shadow: rgb(86 122 255 / 35%);
    --message-test: #12263f;
    --message-bg-cl: #57606f;
    --smart-sequences-tx-cl: #fff; 
    --sequences-builder-preview: url('./assets/images/newSequencesBuilderPreviewDark.svg');
    --old-sequences-builder-preview: url('./assets/images/oldSequencesBuilderPreviewDark.svg');
    --google-btn: #4285F4;
    --google-text: #fff;
    /* other end */
  
  
  }
  